* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}

body {
    background: #fff;
}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h1 {
    margin: 32px 0;
    color: rgb(57, 104, 51);
    font-size: 24px;
    text-align: center;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    margin-left: 10%;
    border-radius: 50px 0 0 50px;
    border: 2px solid rgb(57, 104, 51);
    outline: none;
    width: 70%;
    background: transparent;
    color: rgb(57, 104, 51);
}

.todo-input::placeholder {
    color: #adadad;
}

.todo-button {
    padding: 16px;
    border: none;
    width: 12%;
    height: 48px;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    outline: none;
    background-color: rgb(57, 104, 51);
    color: #fff;
}

.todo-input.edit {
    border: 2px solid rgb(218, 214, 25);
}

.todo-button.edit {
    background: rgb(218, 214, 25);
    padding: 16px 22px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row-delete-button {
    text-align: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient( 90deg, rgb(57, 104, 51) 0%, rgb(73, 133, 65) 100%);
    padding: 16px;
    border-radius: 30px;
    width: 20%;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient( 90deg, rgb(57, 104, 51) 0%, rgb(73, 133, 65) 100%);
    padding: 16px;
    border-radius: 30px;
    width: 90%;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
}

.edit-icon {
    color: #fff;
}

.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(103, 180, 92);
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
    border-radius: 3px;
    background: rgb(151, 255, 137) url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
    transition: background-size 0.2s ease;
}

.custom-checkbox input:checked+.checkmark {
    background-size: 60%;
    transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}

.custom-checkbox input {
    display: none;
}